@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.976 0 0);
  --card: oklch(0.976 0 0);
  --popover: oklch(0.976 0 0);
  --sidebar: oklch(0.976 0 0);
  --foreground: oklch(0.218 0 0);
  --card-foreground: oklch(0.218 0 0);
  --popover-foreground: oklch(0.218 0 0);
  --sidebar-foreground: oklch(0.218 0 0);
  --primary: oklch(0.464 0.019 266);
  --sidebar-primary: oklch(0.464 0.019 266);
  --primary-foreground: oklch(0.961 0 0);
  --sidebar-primary-foreground: oklch(0.961 0 0);
  --secondary: oklch(0.885 0 0);
  --accent: oklch(0.885 0 0);
  --sidebar-accent: oklch(0.885 0 0);
  --secondary-foreground: oklch(0.218 0 0);
  --accent-foreground: oklch(0.218 0 0);
  --sidebar-accent-foreground: oklch(0.218 0 0);
  --muted: oklch(0.885 0 0);
  --muted-foreground: oklch(0.6 0 0);
  --destructive: oklch(0.597 0.238 29);
  --destructive-foreground: oklch(0.961 0 0);
  --border: oklch(0.827 0 0);
  --sidebar-border: oklch(0.827 0 0);
  --ring: oklch(0.772 0.031 264);
  --sidebar-ring: oklch(0.772 0.031 264);
  --input: oklch(0.829 0 0);
  --chart-1: oklch(0.464 0.019 266);
  --chart-2: oklch(0.431 0.038 257);
  --chart-3: oklch(0.386 0.045 276);
  --chart-4: oklch(0.418 0.031 240);
  --chart-5: oklch(0.398 0.038 265);
  --radius: 0.3rem;
}

.dark {
  --background: oklch(0.235 0 0);
  --card: oklch(0.235 0 0);
  --popover: oklch(0.235 0 0);
  --sidebar: oklch(0.235 0 0);
  --foreground: oklch(0.961 0 0);
  --card-foreground: oklch(0.961 0 0);
  --popover-foreground: oklch(0.961 0 0);
  --sidebar-foreground: oklch(0.961 0 0);
  --primary: oklch(0.636 0.022 267);
  --sidebar-primary: oklch(0.636 0.022 267);
  --primary-foreground: oklch(0.961 0 0);
  --sidebar-primary-foreground: oklch(0.961 0 0);
  --secondary: oklch(0.32 0 0);
  --accent: oklch(0.32 0 0);
  --sidebar-accent: oklch(0.32 0 0);
  --secondary-foreground: oklch(0.961 0 0);
  --accent-foreground: oklch(0.961 0 0);
  --sidebar-accent-foreground: oklch(0.961 0 0);
  --muted: oklch(0.368 0 0);
  --muted-foreground: oklch(0.682 0 0);
  --destructive: oklch(0.613 0.228 27);
  --destructive-foreground: oklch(0.961 0 0);
  --border: oklch(0.34 0 0);
  --sidebar-border: oklch(0.34 0 0);
  --ring: oklch(0.365 0.048 265);
  --sidebar-ring: oklch(0.365 0.048 265);
  --input: oklch(0.34 0 0);
  --chart-1: oklch(0.636 0.022 267);
  --chart-2: oklch(0.658 0.041 257);
  --chart-3: oklch(0.663 0.048 277);
  --chart-4: oklch(0.724 0.032 239);
  --chart-5: oklch(0.73 0.034 264);
}